* {
    padding: 0;
    margin: 5;
}


body {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #daebe8;
      font-family: sans-serif;
    
    .calculator {
        width: 300px;
        height: 470px;
        padding: 20px;
        background-color: #87bdd8;
        box-shadow: 10px 10px 10px -10px;

        
        .output {
            height: 70px;
            font-size: 30px;
            width: 100%;
            background-color: #d9ecd0;
            border: none;
            text-align: right;
            word-wrap: break-word;
            word-break: break-all;
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        .buttons {
            padding-top: 70px;
        }

        button {
            height: 60px;
            width: 65px;
            background-color: #d9ecd0;
            border: none;
            border-radius: 10px;
            font-style: bold;
            font-size: 30px;
            margin: 10px;
          }

        button:hover {
              cursor: pointer;
              background-color: #fafafa;
        }

        .operator {
            background-color: #e0e2e4;
        }

        #equals {
            width:500px;
        }
    }
}