* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #3a7a8f, #3e6c7e);
}

.calculator {
  padding: 20px;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
}
.calculator .output {
  justify-content: space-around;
  color: black;
  background-color: #c7e0f0;
  grid-column: 1/-1;
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  padding-bottom: 20px;
  flex-direction: column;
}
.calculator button {
  justify-content: space-evenly;
  background-color: #d5f3fd;
  height: 100px;
  width: auto;
  font-size: 40px;
}
.calculator button:hover, .calculator #dot:hover {
  cursor: pointer;
  background-color: white;
}
.calculator .operator, .calculator .data-equal, .calculator .clear, .calculator #dot {
  background-color: #c7e0f0;
}
.calculator .operator .operator:hover, .calculator .data-equal .operator:hover, .calculator .clear .operator:hover, .calculator #dot .operator:hover {
  background-color: skyblue;
}
.calculator #equals {
  grid-column: span 4;
}