* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: linear-gradient(to right,#3a7a8f, rgb(62, 108, 126))
}

.calculator {
    padding: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);

    .output {
        justify-content: space-around;
        color: black;
        background-color: rgb(199, 224, 240);
        grid-column: 1 / -1;
        display: flex;
        align-items: flex-end;
        font-size: 40px;
        padding-bottom: 20px;
        flex-direction: column;
    }

    button {
        justify-content: space-evenly;
        background-color: #d5f3fd;
        height: 100px;
        width: auto;
        font-size: 40px;
    }

    button:hover, #dot:hover {
        cursor: pointer;
        background-color: white;
    }

    .operator, .data-equal, .clear, #dot{
        background-color: rgb(199, 224, 240);

        .operator:hover {
            background-color: skyblue;
        }
    }

    #equals {
        grid-column: span 4;
    }
}